body{
    background-image:linear-gradient(280deg,rgba(221,183,135,0.5),rgba(255,213,185,0.4)),url("https://images.unsplash.com/photo-1588580000645-4562a6d2c839?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-attachment:fixed;
  background-size:cover;
  }
  h1{
    text-align:center;
    color:white;
    font-family:courier new;
    font-size:50px;
    margin-top:20px;
    margin-bottom:0;
    border-style:double;
    border-color:white;
    border-width:5px;
  }
  p{
    text-align:center;
    color:white;
    font-family:courier new;
    margin-top:0;
    font-size:25px;
    font-weight:bold;
  }
  .survey{
    width:55%;
    margin-left:auto;
    margin-right:auto;
    background-color:rgba(101,67,33,0.9);
    padding:15px;
    max-width:70%;
  }
  label,h2{
    display:block;
    margin:1rem 0;
    color:white;
    font-family:papyrus;
    font-weight:bold;
    font-size:20px;
  }
  input,.drop,textarea{
    background-color:#F6E5DE;
    width:95%;
    margin-top:1px;
    margin-left:2px;
    min-height: 2em;
    color:rgb(43, 29, 14);
    border:1px solid rgb(43, 29, 14);
    border-radius:3px;
    font-family:papyrus;
    font-weight:bold;
  }
  .inline{
    background-color:#F6E5DE;
    display:inline;
    width: unset;
    vertical-align: middle;
    margin-top:0;
  }
  option,select{
    font-family:papyrus;
    font-weight:bold;
  }
  input[type="submit"]{
    display:block;
    margin:1em auto;
    width:50%;
    height:2em;
    border-color:white;
    min-width:150px;
    cursor:pointer;
    color:white;
    background-color:rgb(43, 29, 14);
  }
  .button:hover{
    color:rgb(43, 29, 14);
    background-color:#AFDCEC ;
  }
  .button:active{
    transform:translateY(3px);
  }